.sides_container{
    background: linear-gradient(0deg, rgba(197,187,187,1) 0%, rgba(45,103,146,1) 90%);
    height: 100vh;
}

.sides{
    .sides_promotion{
        align-items: center;
        display: flex;
        .sides_promo{
            height: 95%;
            width: auto;
            margin: 0rem 3rem;
            align-content: center;
            border-radius: 5rem;
            overflow: hidden;

            h4{
                text-align: center;
            }
            p{
                text-align: center;
            }
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        
    }

}